* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2f4f4f;
    font-family: 'Arial', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
}

.navbar {
    background-color: #223333;
    padding: 15px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2rem;
}

.navbar a:hover {
    text-decoration: underline;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    color: white;
    max-width: 600px;
    width: 100%;
    height: auto;
    overflow-y: auto;
    padding-bottom: 50px;
    margin-top: 70px; /* Adjust margin to avoid overlapping with navbar */
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #f8f9fa;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #f8f9fa;
    border-radius: 5px;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
}

th {
    background: rgba(255, 255, 255, 0.2);
}